/* Add CSS Styling */
.odd{
    background-color: rgb(255, 0, 162);
    font-family: Verdana, "DejaVuSans", sans-serif;
}
#second{
    color: rgb(0, 140, 255);
    font-size: 36px;
}
#third{
    font-size: 34px;
}
#fourth{
    background-color: rgb(153, 227, 152);
    font-size: 24px;
    font-weight: bold;
}